@{
    ViewData["Title"] = "Image is not found";
}

<h1>Image</h1>

<div>
    <h4>Image with id equals @ViewBag.ImageNotFoundId is not found.</h4>
    <hr />
</div>
<div>
    <a asp-action="Index">Back to Category List</a>
</div>
