@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Nothwind store</h1>
    <p><h2 style="text-align: left;">Here below there are a list of resources:</h2></p>
    <ul>
        <li style="text-align: left; font-size: x-large"> <a asp-action="Index" asp-controller="Categories" target="_blank">Categories List</a></li>
        <li style="text-align: left; font-size: x-large"> <a asp-action="Index" asp-controller="Products" target="_blank">Products List</a></li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
