@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><h2 style="text-align: left;">Here below there are a list of tasks:</h2></p>
    <ul>
        <li style="text-align: left; font-size: x-large"> <a asp-action="Task" asp-route-id="0" target="_blank">Task. Introduction</a></li>
        <li style="text-align: left; font-size: x-large"> <a asp-action="Task" asp-route-id="1" target="_blank">Task 1. Controllers, Applications, Requests</a></li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
